@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.App {
  font-family: 'Titillium Web', sans-serif;
}

/* Nav */
.header {
  width: 100%;
  height: 85px;
  display: flex;
  flex-direction: row;
}

.header-heading {
  margin-left: 20px;
  height: auto;
}

.nav {
  display: flex;
  margin-right: 20px;
  margin-left: auto;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
}

.nav li {
  margin: 10px;
}

/* Banner */

.sliderimg {
  width: 100%;
  height: 500px;
  object-fit: cover
}

.alice-carousel__dots {
  display: none;
}

/* Main */

.main {
  text-align: center;
}

.main h1 {
  margin-top: 65px;
  margin-bottom: 100px;
  color: #f3a007;
}

.bio-outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 85px;
}

.main-bio {
  width: 25%;
  margin-bottom: 20px;
}

.vert-line {
  border-left: thin solid #929292;
  height: 175px;
}

.main-bio h3 {
  margin-bottom: 30px;
}

.main-bio a {
  text-decoration: none;
  color: #f3a007;
}

/* Footer */

.footer-container {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 41, 41);
  color: white;
}

.footer-content {
  width: 35%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.footer-content ul {
  list-style-type: none;
  padding: 0;
}

/* Order Form */
h2,
label {
  color: #f3a007;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 4px;
}

form input {
  background-color: rgb(34, 34, 34);
  border: 1px solid rgb(67, 67, 67);
  outline: none;
  height: 24px;
  color: white;
  margin-bottom: 8px;
  padding: 4px;
  border-radius: 2px;
}

button {
  background-color: rgb(49, 49, 49);
  color: rgb(87, 153, 239);
  border: 1px solid rgb(67, 67, 67);
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

form button {
  height: 20px;
  padding: 0 4px;
  margin: 4px auto 0 auto;
}

button:hover {
  background-color: rgb(69, 69, 69);
}

.DataInput {
  width: 500px;
  margin: 0 auto;
  border: 1px solid rgb(82, 82, 82);
  padding: 20px;
  border-radius: 2px;
}

.DataInput h2 {
  text-decoration: underline;
  margin-bottom: 20px;
}

.DataInput button {
  margin-top: 12px;
}

.DataOutput {
  width: 500px;
  margin: 0 auto;
  border: 1px solid rgb(82, 82, 82);
  padding: 20px;
  border-radius: 2px;
  margin-top: 20px;
}

.DataOutput__card {
  border: 1px solid rgb(24, 24, 24);
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  min-height: 150px;
  padding: 20px;
  overflow: hidden;
}

.DataOutput__card--details {
  padding-right: 20px;
}

.DataOutput__card--details div {
  display: flex;
}

.DataOutput__card--details div:not(:last-child) {
  margin-bottom: 11px;
}

.DataOutput__card span {
  color: #f5c518;
  min-width: 110px;
}

.DataOutput__card--options {
  display: flex;
  justify-content: space-between;
  height: 20px;
}

.DataOutput__card--options button {
  padding: 0 4px;
}

.DataOutput__card--options button:not(:last-child) {
  margin-right: 18px;
}

.DataOutput__editing {
  border: 1px solid rgb(24, 24, 24);
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(24, 24, 24);
}

.DataOutput__editing form {
  padding: 20px;
}

.DataOutput__editing--option {
  display: flex;
}

.DataOutput__editing--option label {
  min-width: 110px;
}

.DataOutput__editing--option input {
  width: 300px;
}

.DataOutput__editing--cancel {
  margin-left: 20px;
}


