@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.App {
  font-family: 'Titillium Web', sans-serif;
  color: #363636
}

/* Nav */
.header {
  width: 100%;
  height: 85px;
  display: flex;
  flex-direction: row;
}

.header-heading {
  margin-top: 18px;
  margin-left: 20px;
  height: auto;
  color: #363636;
}

.nav {
  display: flex;
  margin-right: 20px;
  margin-left: auto;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  color: #363636
}

.nav li {
  margin: 10px;
}

/* Banner */

.sliderimg {
  width: 100%;
  height: 500px;
  object-fit: cover
}

.alice-carousel__dots {
  display: none;
}

/* Main */

.main {
  text-align: center;
}

.main-title {
  margin-bottom: 80px;
}

.main-title h1 {
  color: #f3a007;
  font-size: 3vw;
  margin-top: 45px;
  margin-bottom: 0;
}

.main-title h3 {
  color: #929292;
  margin-top: 0;
  font-size: 1vw;
}

.bio-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.bio-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  
}

.main-bio {
  width: 25%;
  margin-bottom: 20px;
}

.main-bio p {
  font-size: 0.83;
  transition-duration: 200ms
}

.main-bio:hover p {
  color: #f3a007;
}

.main-bio:hover h2 {
  color: #f3a007;
  font-size: 1.75vw;
  margin-top: 0;
  margin-bottom: 25px;
  transition-duration: 200ms
}

.vert-line {
  border-left: thin solid #c2c2c2;
  height: 270px;
}

#bio-web-title {
  color: #f3a007;
  font-size: 1.65vw;
  margin-top: 0;
  margin-bottom: 25px;
  transition-duration: 200ms
}

.main-bio:hover #bio-web-title {
  font-size: 2vw;
  transition-duration: 200ms
}

.main-bio h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #575757;
  transition-duration: 200ms
}

.main-bio a {
  text-decoration: none;
  color: #f3a007;
  transition-duration: 200ms
}

.main-bio:hover a {
  font-size: 0.95vw;
  transition-duration: 200ms
}

.web-bio-pic {
  width: 95%;
  height: 250px;
  border-radius: 5px;
  transition-duration: 200ms
}

.main-bio:hover .web-bio-pic {
  width: 98%;
  height: 260px;
  transition-duration: 200ms;
}

.bio-pic {
  width: 80%;
  height: 250px;
  border-radius: 5px;
  transition-duration: 200ms
}

.main-bio:hover .bio-pic {
  width: 83%;
  height: 260px;
  transition-duration: 200ms
}

/* Footer */

.footer-container {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 41, 41);
  color: white;
  margin-bottom: 0;
}

.footer-content {
  width: 35%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.footer-content ul {
  list-style-type: none;
  padding: 0;
}

/* Web Dev */

.web-banner-container {
  width: 100%;
  height: 480px;
  text-align: left;
}

.web-banner-inner {
  width: 100%;
  height: 480px;
  background-color: #e48202;
  display: flex;
  flex-direction: row;
}

.web-banner-inner img {
  width: 87%;
  height: 480px;
  object-fit: cover;
  z-index: 10;
  margin-right: auto;
}

.web-banner-content-container {
  width: 30%;
  z-index: 1;
  margin-left: -150px;
  margin-right: 100px;
  margin-top: 30px;
}

.web-content-title {
  margin-right: 10px;
  margin-left: auto;
  margin-bottom: 0;
  margin-top: 0;
  color: #f7f7f7;
  z-index: 1;
  font-size:55px;
  line-height: 60px;
}

.web-content-inner h3 {
  margin-right: 20px;
  margin-top: 10;
}

.laptop-img {
  width: 100%;
  height: 400px;
  z-index: 11;
  margin-top: -90px;
  margin-right: auto;
  margin-left: -40px;
}

.laptop-img img {
  object-fit: contain;
  height: 400px;
}

.web-main {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.web-main h1 {
  color: #f3a007;
}

.skills {
  display: flex;
  width: 30%;
  height: 90%;
  justify-content: center;
  flex-direction: column;
  margin-left: 10%;
}

.skills h1 {
  margin-top: 0;
}

.web-main-content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
}

.web-main-content-container ul {
  list-style-type: none;
  padding: 0;
}

.web-intro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.web-intro h1 {
  width: 110px;
}

.intro-summary-container {
  width: 30%;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 5em;
}

.intro-summary-container .port-name {
  width: 100%;
  margin-bottom: 0;
}

.intro-summary-container h4 {
  margin-top: 0;
}

.intro-images {
  position: relative;
  overflow: hidden;
  width: 45%;
}

.port-intro-img {
  width: 100%;
}

/* Portfolio Display */

.port-display-container {
  width: 65%;
  height: fit-content;
  border: 1px solid #a8a7a7;
  border-radius: 10px;
  margin-top: 7vw;
  margin-left: 4%;
}

.portfolio-display {
  padding: 15px;
}

.port-card-container {
  height: 22%;
  border-bottom: 1px solid rgb(67, 67, 67);
  display: flex;
}

.port-card {
  height: 100%;
  width: 88%;
  text-align: left;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.port-card h2 {
  margin-top: 0;
}

.port-card p {
  width: 90%;  
}

.tools-used {
 display: none;
}

.port-card-container:hover .tools-used, .tools-used h4 {
  display: block;
}

.port-card-container:hover .tools-used li {
  display: inline;
  margin-right: 15px;
}

.icon-container {
  width: 80px;
  height: 80px;
  margin-top: 5%;
}

.port-card-container:hover .icon-container {
  width: 160px;
  height: 160px;
  margin-left: 7%;
  margin-right: -7%;
  margin-top: 6%;
}

.icon-container img {
  width: 100%;
  height: 100%;
}

/* Order Form */
h2,
label {
  color: #f3a007;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 4px;
}

form input {
  background-color: rgb(34, 34, 34);
  border: 1px solid rgb(67, 67, 67);
  outline: none;
  height: 24px;
  color: white;
  margin-bottom: 8px;
  padding: 4px;
  border-radius: 2px;
}

button {
  background-color: rgb(49, 49, 49);
  color: rgb(87, 153, 239);
  border: 1px solid rgb(67, 67, 67);
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

form button {
  height: 20px;
  padding: 0 4px;
  margin: 4px auto 0 auto;
}

button:hover {
  background-color: rgb(69, 69, 69);
}

.DataInput {
  width: 500px;
  margin: 0 auto;
  border: 1px solid rgb(82, 82, 82);
  padding: 20px;
  border-radius: 2px;
}

.DataInput h2 {
  text-decoration: underline;
  margin-bottom: 20px;
}

.DataInput button {
  margin-top: 12px;
}

.DataOutput {
  width: 500px;
  margin: 0 auto;
  border: 1px solid rgb(82, 82, 82);
  padding: 20px;
  border-radius: 2px;
  margin-top: 20px;
}

.DataOutput__card {
  border: 1px solid rgb(24, 24, 24);
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  min-height: 150px;
  padding: 20px;
  overflow: hidden;
}

.DataOutput__card--details {
  padding-right: 20px;
}

.DataOutput__card--details div {
  display: flex;
}

.DataOutput__card--details div:not(:last-child) {
  margin-bottom: 11px;
}

.DataOutput__card span {
  color: #f5c518;
  min-width: 110px;
}

.DataOutput__card--options {
  display: flex;
  justify-content: space-between;
  height: 20px;
}

.DataOutput__card--options button {
  padding: 0 4px;
}

.DataOutput__card--options button:not(:last-child) {
  margin-right: 18px;
}

.DataOutput__editing {
  border: 1px solid rgb(24, 24, 24);
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(24, 24, 24);
}

.DataOutput__editing form {
  padding: 20px;
}

.DataOutput__editing--option {
  display: flex;
}

.DataOutput__editing--option label {
  min-width: 110px;
}

.DataOutput__editing--option input {
  width: 300px;
}

.DataOutput__editing--cancel {
  margin-left: 20px;
}


