@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

.App {
  font-family: 'Titillium Web', sans-serif;
  color: #363636
}

/* Nav */

.header {
  position: relative;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.header h3 {
  margin: 0;
}

.header .logo {
  color: #363636;
  display: block;
  float: left;
  font-size: 1.5em;
  text-decoration: none;
  align-self: center;
  margin-left: 10px;
}
 
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  width: 100%;
}

.header li a {
  display: block;
  color: #414141;
  text-decoration: none;
  margin-right: 35px;
  align-self: center;
}
 
.header li a:hover,
.header .menu-btn:hover {
  color: #f3a007;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
 
/* menu icon */
 
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  margin-right: 10px;
  margin-left: auto;
}
 
.header .menu-icon .navicon {
  background: #363636;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
 
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #363636;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
 
.header .menu-icon .navicon:before {
  top: 5px;
}
 
.header .menu-icon .navicon:after {
  top: -5px;
}
 
/* menu btn */
 
.header .menu-btn {
  display: none;
}
 
.header .menu-btn:checked ~ .menu {
  max-height: 340px;
}
 
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
 
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
 
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
 
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Responsive */
@media only screen and (max-width: 1000px){
    .header ul{
        background-color: #fff;
    }  
    .header li a {
    padding: 15px;
  
  }
}
 
@media only screen and (min-width: 1000px) {
    .menu-wrapper{
        background: white;
        height: 55px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .header ul {
      width: 70%;
      margin-right: 10px;
      margin-left: auto;
    }

  .header li {
    float: right;
  }
    .header .logo{
        line-height: 1;
    }
  .header li a {
    color: #363636;
  
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* Banner */

.sliderimg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .sliderimg {
    height: 500px;
  }
}

.alice-carousel__dots {
  display: none;
}

/* Main */

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  text-align: center;
  max-width: 1500px;
}

.main-title {
  margin-bottom: 30px;
}

.main-title h1 {
  color: #f3a007;
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 0;
}

.main-title h3 {
  color: #929292;
  margin-top: 0;
  font-size: 0.75em;
}


@media only screen and (min-width: 768px) {
  .main-title {
    margin-bottom: 80px;
  }
  
  .main-title h1 {
    color: #f3a007;
    font-size: 2.5em;
    margin-top: 45px;
    margin-bottom: 0;
  }
  
  .main-title h3 {
    color: #929292;
    margin-top: 0;
    font-size: 1vw;
  }
} 


.bio-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.bio-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  
}

.main-bio {
  width: 100%;
  margin-bottom: 20px;
}

.main-bio p {
  font-size: 0.83;
  transition-duration: 200ms
}

.vert-line {
  display: none;
}

#web-card {
  order: 1;
}

#print-card {
  order: 2;
}

#proto-card {
  order: 3;
}

#bio-web-title {
  color: #575757;
  margin-top: 0;
  margin-bottom: 25px;
}

.main-bio h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #575757;
  transition-duration: 200ms
}

.main-bio a {
  text-decoration: none;
  color: #f3a007;
  transition-duration: 200ms
}

.web-bio-pic {
  width: 80%;
  height: auto;
  border-radius: 5px;
}

.bio-pic {
  width: 80%;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
}

@media only screen and (min-width: 770px) {

  .bio-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
  }

  .main-bio {
    width: 25%;
    margin-bottom: 20px;
  }
  
  .main-bio p {
    font-size: 0.83;
    transition-duration: 200ms
  }
  
  .main-bio:hover p {
    color: #f3a007;
  }
  
  .main-bio:hover h2 {
    color: #f3a007;
    font-size: 1.75vw;
    margin-top: 0;
    margin-bottom: 25px;
    transition-duration: 200ms
  }
  
  .vert-line {
    display: inline-block;
    border-left: thin solid #c2c2c2;
    height: 270px;
  }

  #vert-one {
    order: 2;
  }

  #vert-two {
    order: 4;
  }

  #print-card {
    order: 1;
  }

  #web-card {
    order: 3;
  }

  #proto-card {
    order: 5;
  }
  
  #bio-web-title {
    color: #f3a007;
    font-size: 1.65vw;
    margin-top: 0;
    margin-bottom: 25px;
    transition-duration: 200ms
  }
  
  .main-bio:hover #bio-web-title {
    font-size: 2vw;
    transition-duration: 200ms
  }
  
  .main-bio h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    color: #575757;
    transition-duration: 200ms
  }
  
  .main-bio a {
    text-decoration: none;
    color: #f3a007;
    transition-duration: 200ms
  }
  
  .main-bio:hover a {
    font-size: 0.95vw;
    transition-duration: 200ms
  }
  
  .web-bio-pic {
    width: 95%;
    height: 225px;
    border-radius: 5px;
    transition-duration: 200ms
  }
  
  .main-bio:hover .web-bio-pic {
    width: 98%;
    height: 250px;
    transition-duration: 200ms;
  }
  
  .bio-pic {
    width: 80%;
    height: 200px;
    border-radius: 5px;
    transition-duration: 200ms
  }
  
  .main-bio:hover .bio-pic {
    width: 83%;
    height: 230px;
    transition-duration: 200ms
  }
}

@media only screen and (min-width: 1320px) {
  .web-bio-pic {
    width: 82%;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .bio-pic {
    width: 80%;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
  }

  #bio-web-title {
    font-size: 2em;
  }

  .main-title h3 {
    font-size: 2vw;
  }
}

/* Print and Proto */

.print-proto {
  text-align: center;
}

.print-proto-heading {
  color: #f3a007;
}

.print-proto-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.print-banner-container {
  width: 500px;
  height: 300px;
}

.print-banner-container img {
  width: 100%;
  height: 100%;
}

.print-proto-bio {
  width: 450px;
}

.print-proto-bio p {
  font-size: 20px;
  color: #f3a007;
}

/* About Me */

.about-me {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 10px 65px 10px;
}

.portrait-container {
  width: 50%;
  height: 375px;
  background-color: #575757;
}

.header-bio-container {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-heading {
  width: 100%;
}

.header-bio-container p {
  width: 80%;
}

/* Footer */

.footer-container {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(41, 41, 41);
  color: white;
  margin-bottom: 0;
}

.footer-content {
  width: 35%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.footer-content ul {
  list-style-type: none;
  padding: 0;
}

/* Web Dev */

.web-banner-container {
  width: 100%;
  height: 480px;
  text-align: left;
  display: none;
}

.intro-container .port-name {
  display: none;
}

.intro-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.intro-container .port-heading {
  margin-top: 5px;
  width: 100%;
  color: #f3a007;
}

.intro-container {
  width: 70%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
  margin-bottom: 2em;
}

.intro-heading {
  margin-bottom: 0;
}

.port-intro-img {
  width: 70%;
  margin-right: 0;
  margin-bottom: 20px;
}

.intro-summary p {
  margin-top: 0;
  align-self: center;
}

#big-a {
  font-size: 1.5em;
  font-weight: bold;
}

.intro-summary {
  width: 80%;
  height: 90%;
  font-size: 1.2em;
  text-align: center;
  color: #575757;
  line-height: 2em;
  display: flex;
  align-content: center;
}

.web-main {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

.web-main h1 {
  color: #f3a007;
}

.skills {
  display: flex;
  width: 30%;
  height: 90%;
  justify-content: center;
  flex-direction: column;
  margin-left: 10%;
}

.skills h1 {
  margin-top: 0;
}

.web-main-content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
}

.web-main-content-container ul {
  list-style-type: none;
  padding: 0;
}

.web-main-content-container li {
  color: #e48202;
}

.web-intro {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.web-intro h1 {
  width: 110px;
}

.intro-container hr {
  width: 80%;
}

@media only screen and (min-width: 770px) {

  .web-banner-container {
    display: inline-block;
  }

  .web-banner-inner {
    width: 100%;
    height: 480px;
    background-color: #e48202;
    display: flex;
    flex-direction: row;
  }
  
  .web-banner-inner img {
    width: 87%;
    height: 480px;
    object-fit: cover;
    z-index: 10;
    margin-right: auto;
  }
  
  .web-banner-content-container {
    width: 30%;
    z-index: 1;
    margin-left: -150px;
    margin-right: 100px;
    margin-top: 30px;
    overflow: visible;
  }
  
  .web-content-title {
    margin-right: 10px;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 0;
    color: #f7f7f7;
    z-index: 1;
    font-size: 4vw;
    line-height: 60px;
  }
  
  .web-content-inner h3 {
    margin-right: 20px;
    margin-top: 10;
  }
  
  .laptop-img {
    width: 100%;
    height: 400px;
    z-index: 11;
    margin-top: -90px;
    margin-right: auto;
    margin-left: -40px;
  }
  
  .laptop-img img {
    object-fit: contain;
    height: 400px;
  }

  .intro-container .port-name {
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
  }

  .intro-images {
    display: flex;
    flex-direction: row;
  }

  .intro-container .port-heading {
    color: #575757;
  }

  .intro-container {
    height: 160px;
  }

  .intro-heading {
    margin-bottom: 3em;
  }

  .port-intro-img {
    width: 50%;
    margin-right: 5%;
    margin-bottom: 0;
  }

  .intro-summary p {
    margin-top: 0;
    text-indent: 1.5em;
    align-self: center;
  }

  .intro-summary {
    width: 28%;
    height: 90%;
    text-align: left;
    color: #f3a007;
  }

}

/* Skills */

.Skills {
  width: 100%;
  height: auto;
  overflow: visible;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  margin-top: 20px;
  padding-bottom: 30px;
}

.skill-container {
  width: 20%;
  height: 3em;
}

.Skills h1 {
  width: 100%;
  margin-bottom: 5px;
}

.skill-container h4 {
  color: #525252;
}

.skill-container:hover h4 {
  font-size: 150%;
  transition-duration: 500ms;
  margin-top: -5%;
  color: #e48202;
}

/* Portfolio Display */

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 55%;
  height: auto;
}

.tabs h3 {
  font-size: 1.2em;
}

.tabs hr {
  margin-top: 8px;
  margin-bottom: 7px;
}

.port-tab {
  width: auto;
  margin: 0;
  color: #f3a007;
}

.port-tab-active {
  width: auto;
  margin: 0;
  color: #575757;
}

.port-tab:hover {
  color: #f3a007;
  cursor: pointer;
}

.port-display-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: fit-content;
  border-radius: 10px;
  margin-top: 7vw;
  overflow: visible;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.port-tab-line {
  width: 13%;
  margin-left: 20px;
  margin-right: auto;
}

.portfolio-display {
  padding: 15px;
  width: 90%;
}

.port-card-container {
  height: 22%;
  border-bottom: 1px solid rgb(67, 67, 67);
  display: flex;
}

.port-card-container-alt {
  height: 22%;
  display: flex;
}

.port-card {
  height: 100%;
  width: 88%;
  text-align: left;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.port-card h2 {
  margin-top: 10px  ;
}

.port-card p {
  width: 90%;
  color: #929292;
}

.port-link-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.port-card a {
  text-decoration: none;
  color: #e48202;
  width: 100%;
  margin-right: 20px;
}

.tools-used {
 display: inline-block;
}

.icon-container {
  width: 95px;
  height: 90px;
  margin-top: 70px;
  margin-bottom: auto;
}

.icon-container img {
  width: 100%;
  height: 100%;
}

.port-card-container-alt .icon-container {
  align-self: center;
}


@media only screen and (min-width: 770px) {
  .tabs {
    width: 18%;
    margin: 8px auto 8px auto;
  }

  .port-link-container {
    width: 100%;
  }

  .tools-used {
    display: none;
  }

  .icon-container {
    align-self: center;
  }

  .port-card-container:hover .port-card p {
    width: auto;
  }

  .port-card-container:hover .tools-used, .tools-used h4 {
    display: block;
  }
  
  .port-card-container:hover .tools-used li {
    display: inline;
    margin-right: 15px;
  }
  
  .port-card-container-alt:hover .tools-used, .tools-used h4 {
    display: block;
  }
  
  .port-card-container-alt:hover .tools-used li {
    display: inline;
    margin-right: 15px;
  }

}

@media only screen and (min-width: 1100px) {
  .tabs {
    width: 17%;
    margin: 8px auto 8px auto;
  }

  .port-card-container:hover .icon-container {
    width: 160px;
    height: 160px;
    margin-left: 7%;
    margin-right: -7%;
    align-self: center;
    transition-duration: 0.3s;
  }
  
  .port-card-container-alt:hover .icon-container {
    width: 160px;
    height: 160px;
    margin-left: 7%;
    margin-right: -7%;
    align-self: center;
    transition-duration: 0.3s;
  }

}

/* Contact-Request Form */

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 80px;
}

.contact-me hr {
  width: 500px;
  height: 1px;
  background-color: #929292;
}

.contact-me h1 {
  color: #f3a007;
}

.contact-me p {
  width: 400px;
  text-align: center;
}

.form-container {
  width: 400px;
  height: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-group input, textarea {
  width: 100%;
  background-color: white;
  color: #363636;
}

.form-group textarea {
  height: 110px;
}

.contact-label {
  width: 100%;
  font-weight: 700;
}

.contact-form button {
  background-color: white;
  color: #f3a007;
  font-size: 1.5em;
  font-family: 'Titillium Web', sans-serif;
  width: 4em;
  height: auto;
  transition-duration: 3ms;
}

.contact-form button:hover {
  color: white;
  background-color: #575757;
}

/* Order Form */
h2,
label {
  color: #f3a007;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-bottom: 4px;
}

form input {
  background-color: rgb(34, 34, 34);
  border: 1px solid rgb(67, 67, 67);
  outline: none;
  height: 24px;
  color: white;
  margin-bottom: 8px;
  padding: 4px;
  border-radius: 2px;
}

button {
  background-color: rgb(49, 49, 49);
  color: rgb(87, 153, 239);
  border: 1px solid rgb(67, 67, 67);
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

form button {
  height: 20px;
  padding: 0 4px;
  margin: 4px auto 0 auto;
}

button:hover {
  background-color: rgb(69, 69, 69);
}

.DataInput {
  width: 500px;
  margin: 0 auto;
  border: 1px solid rgb(82, 82, 82);
  padding: 20px;
  border-radius: 2px;
}

.DataInput h2 {
  text-decoration: underline;
  margin-bottom: 20px;
}

.DataInput button {
  margin-top: 12px;
}

.DataOutput {
  width: 500px;
  margin: 0 auto;
  border: 1px solid rgb(82, 82, 82);
  padding: 20px;
  border-radius: 2px;
  margin-top: 20px;
}

.DataOutput__card {
  border: 1px solid rgb(24, 24, 24);
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  min-height: 150px;
  padding: 20px;
  overflow: hidden;
}

.DataOutput__card--details {
  padding-right: 20px;
}

.DataOutput__card--details div {
  display: flex;
}

.DataOutput__card--details div:not(:last-child) {
  margin-bottom: 11px;
}

.DataOutput__card span {
  color: #f5c518;
  min-width: 110px;
}

.DataOutput__card--options {
  display: flex;
  justify-content: space-between;
  height: 20px;
}

.DataOutput__card--options button {
  padding: 0 4px;
}

.DataOutput__card--options button:not(:last-child) {
  margin-right: 18px;
}

.DataOutput__editing {
  border: 1px solid rgb(24, 24, 24);
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(24, 24, 24);
}

.DataOutput__editing form {
  padding: 20px;
}

.DataOutput__editing--option {
  display: flex;
}

.DataOutput__editing--option label {
  min-width: 110px;
}

.DataOutput__editing--option input {
  width: 300px;
}

.DataOutput__editing--cancel {
  margin-left: 20px;
}


